<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/mdb.min.css">
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- <script src="/js/search-bar.js"></script> -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta	name="_csrf_header" th:content="${_csrf.headerName}" />

<script>
	const defaultFetch = window.fetch;
	
	window.fetch = (url, options = {}) => {
		
		const headerName = document.getElementsByName("_csrf_header")[0].content;
		const token = document.getElementsByName("_csrf")[0].content;
		
		
		return defaultFetch(url, {
			...options,
			headers: {
				[headerName]: token,
				...options.headers				
			}
		})
	}
</script>
<title>A-shoes</title>
</head>
<body>
	<header>
		<!-- Navigation -->
		<nav th:fragment="navigation"
			class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/shoes-models}">A-shoes</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="d-flex justify-content-center"><a
							class="nav-link font-weight-bold text-white h3"
							th:href="@{/shoes-models/FEMALE}">Woman</a> <a
							class="nav-link font-weight-bold text-white h3"
							th:href="@{/shoes-models/MALE}">Man</a></li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a sec:authorize="!isAuthenticated()"
							class="nav-link font-weight-bold" th:href="@{/users/login}">Login</a></li>
						<li class="nav-item"><a sec:authorize="!isAuthenticated()"
							class="nav-link font-weight-bold" th:href="@{/users/register}">Register</a></li>
						<li class="nav-item"><a sec:authorize="${hasRole('ADMIN')}"
							class="nav-link font-weight-bold" th:href="@{/permissions}">Users</a></li>
						<li class="nav-item"><a sec:authorize="isAuthenticated()"
							class="nav-link font-weight-bold" th:href="@{/users/user-info}">User
								info</a></li>
						<li class="nav-item"><a sec:authorize="${hasRole('ADMIN')}"
							class="nav-link font-weight-bold"
							th:href="@{/shoes-models/admin}">Edit Shoes</a></li>
						<li class="nav-item"><a sec:authorize="isAuthenticated()"
							class="nav-link font-weight-bold"
							th:href="@{/customers/favourites}">Favourites</a></li>
						<li class="nav-item"><a sec:authorize="isAuthenticated()"
							class="nav-link font-weight-bold"
							th:href="@{/customers/shopping-cart}" id="shopping-cart">Shopping
								cart</a></li>
						<li class="btn ">
							<form th:action="@{/logout}" method="POST">
								<button sec:authorize="isAuthenticated()" type="submit"
									class="btn btn-sm btn-outline-light font-weight-bold">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- EO Navigation -->
		<div th:fragment="filters" class="col-lg-3">
			<br>
			<div class="list-group">
				<!-- Section: Shoes type -->
				<section class="mb-4">

					<h6 class="font-weight-bold mb-3">Shoes type</h6>

					<div th:each="t : ${allModelTypes}">
						<div class="form-check pl-0 mb-3">
							<input th:value="${t}" type="checkbox"
								th:if="${!param.isEmpty()}"
								th:checked="${#strings.contains(#request.queryString, t) ? true : false}"
								class="form-check-input filled-in" id="new" data-type="type">
							<input th:value="${t}" th:if="${param.isEmpty()}" type="checkbox"
								class="form-check-input filled-in" id="new" data-type="type">
							<label th:text="*{t}"
								class="form-check-label small text-uppercase card-link-secondary"
								for="new">New</label>
						</div>
					</div>
				</section>
				<!-- Section: Shoes type -->

				<!-- Section: Size -->
				<section class="mb-4">

					<h6 class="font-weight-bold mb-3">Size</h6>

					<div th:each="s : ${allSizes}">
						<div class="form-check pl-0 mb-3">

							<input th:value="${s}" type="checkbox"
								th:if="${!param.isEmpty()}"
								th:checked="${#strings.contains(#request.queryString, s) ? true : false}"
								class="form-check-input filled-in" id="new" data-type="size">
							<input th:value="${s}" type="checkbox" th:if="${param.isEmpty()}"
								class="form-check-input filled-in" id="new" data-type="size">
							<label th:text="*{s}"
								class="form-check-label small text-uppercase card-link-secondary"
								for="new"></label>
						</div>

					</div>
				</section>
				<!-- Section: Size -->

				<!-- Section: Color -->
				<section class="mb-4">
					<h6 class="font-weight-bold mb-3">Color</h6>

					<div
						class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n2"
						data-toggle="buttons">
						<!-- 	"|background:*{colorHex};|" -->
						<th:block th:each="c : ${allColorHex}">
							<label class="btn rounded-circle  p-3 m-2 "
								th:style="|background:*{c};|"> <input type="checkbox"
								th:if="${!param.isEmpty()}"
								th:checked="${#strings.contains(#request.queryString, c) ? true : false}"
								data-type="color" th:value="${c}" autocomplete="off"> <input
								type="checkbox" th:if="${param.isEmpty()}" data-type="color"
								th:value="${c}" autocomplete="off">
							</label>
						</th:block>
					</div>

				</section>
				<!-- Section: Color -->
			</div>
		</div>
	</header>
	<div th:fragment="profil" class="col-lg-3">
		<div class="h-100 shadow">
			<div class="p-3">
				<h1>My Profil</h1>
			</div>
			<br> <br> <br>

			<div class="list-group shadow font-weight-bold">
				<a th:href="@{/users/user-info}"
					class="list-group-item list-group-item-action">User info</a> <a
					th:href="@{/customers/favourites}"
					class="list-group-item list-group-item-action">Favourites</a>
			</div>
		</div>
	</div>
	<footer th:fragment="footer" class="footer bg-blur">
		<div class="container-fluid text-center">
			<div class="h5">&copy;A-shoes. All rights reserved.</div>
		</div>
		<script type="text/javascript">
			const shoppingCart = document.getElementById("shopping-cart");
			
			if(shoppingCart) {
				fetch("/api/customers/shopping-cart/items-count")
				.then(res => res.text())
				.then(count => {
					
					shoppingCart.text = `Shopping Cart(${count})`;
				});	
			}
					
		</script>
	</footer>
</body>
</html>