<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragment :: head">
</head>
<body>

	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Page Content -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-3">
				<div class="card mt-4" th:object="${shoesModel}">
					<div class="card-body">
						<h5 th:text="|*{name}|" class="card-title">Product Name</h5>
						<div class="d-flex justify-content-center">
						
							<form th:action="@{/shoes-model-sizes}" method="POST"
								th:object="${shoesModel}" class="" enctype="multipart/form-data">
								<div class="form-group">
									<input th:field="*{name}" th:errorclass="bg-danger" type="text"
										name="name" class="form-control disabled" id="modelName">
									
								</div>
								<div class="form-group">
									<label for="type" class="col-form-label font-weight-bold">Type</label>
									<input th:field="*{type}" th:errorclass="bg-danger" type="text"
										name="type" class="form-control disabled" id="type">
									
								</div>

								<div class="form-group">
									<label for="sex" class="col-form-label font-weight-bold">Sex</label>
									<input th:field="*{sex}" th:errorclass="bg-danger" type="text"
										name="sex" class="form-control disabled" id="sex">
									
								</div>

								<div class="form-group">
									<label for="price" class="col-form-label font-weight-bold">Price</label>
									<input th:field="*{price}" th:errorclass="bg-danger"
										type="number" name="price" class="form-control disabled"
										id="price">
									
								</div>
								<div class="form-group">
									<label for="color" class="col-form-label font-weight-bold">Color</label>
									

									<label class="btn rounded-circle  p-3 m-2 "
										th:style="|background: *{colorHex}|"></label> <br>
								</div>
								<div class="form-group">
									<label for="size" class="col-form-label font-weight-bold">Size</label>
									<input type="number" name="size" class="form-control disabled" id="size">
									
								</div>
								<div class="form-group">
									<label for="quantity" class="col-form-label font-weight-bold">Quantity</label>
									<input type="number" name="quantity" class="form-control"
										id="quantity">
									<!-- <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
								id="priceError" class="form-text bg-danger rounded">You
								must enter a price</small> -->
								</div>

								<div class="mt-5 text-center">
									<button class="btn profile-button font-weight-bold"
										type="submit">Delete size</button>
								</div>

							</form>
						</div>
					</div>
					<br> <br> <br>


				</div>
			</div>
		</div>
	</div>

	<!-- /.container -->
	<!-- Footer -->
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<!-- <script th:inline="javascript">
			document.getElementById("like-button").addEventListener("click", (e) => {
				e.preventDefault();
				const username = /*[[${#authentication.getPrincipal().getUser().getUsername()}]]*/ '';
				fetch("/api/users/" + username);
			});
		
	</script> -->
</html>
