<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<!-- <style>
body {
	background-color: #800000;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
</style> -->
<body>

	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<main class="text-center justify-content-center">
		<div class="row justify-content-center">
			<div class="col">
				<h1 class="border-bottom font-weight-bold">Edit model sizes</h1>
				<br>
				<div class="col-md-12 d-flex justify-content-center">

					<form
						th:action="@{/shoes-model-sizes/{id}(id=${shoesModelSizeBindingModel.id})}"
						method="POST" th:object="${shoesModelSizeBindingModel}"
						class="" enctype="multipart/form-data">
						<div class="form-group">
							<label for="modelName" class="col-form-label font-weight-bold">Model
								name</label> <input th:field="*{name}" th:errorclass="bg-danger"
								type="text" name="name" class="form-control disabled" id="modelName">
							<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								id="nameError" class="form-text bg-danger rounded">You
								must select a type</small>
						</div>
						<div class="form-group">
							<label for="type" class="col-form-label font-weight-bold">Model
								type</label> <select th:field="*{type}" th:errorclass="bg-danger"
								name="type" id="type" class="custom-select disabled">
								<option value="" selected>Select type</option>
								<option
									th:each="t : ${T(bg.shoeshop.model.enums.Type).values()}"
									th:text="${t}" th:value="${t}"></option>
							</select> <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
								id="typeError" class="form-text bg-danger rounded">You
								must select a type</small>
						</div>

						<div class="form-group">
							<label for="sex" class="col-form-label font-weight-bold">Sex</label>
							<select th:field="*{sex}" th:errorclass="bg-danger" name="sex"
								id="sex" class="custom-select disabled">
								<option value="" selected>Select sex</option>
								<option th:each="s : ${T(bg.shoeshop.model.enums.Sex).values()}"
									th:text="${s}" th:value="${s}"></option>
							</select> <small th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"
								id="sexError" class="form-text bg-danger rounded">You
								must select a sex</small>
						</div>

						<div class="form-group">
							<label for="price" class="col-form-label font-weight-bold">Price</label>
							<input th:field="*{price}" th:errorclass="bg-danger"
								type="number" name="price" class="form-control" id="price">
							<small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
								id="priceError" class="form-text bg-danger rounded">You
								must enter a price</small>
						</div>
						<div class="form-group">
							<label for="color" class="col-form-label font-weight-bold">Color</label>
							<input th:field="*{colorHex}" type="color" id="color" class="disabled"
								name="colorHex" value="#ff0000">
						</div>
						<div class="form-group">
							<label for="size" class="col-form-label font-weight-bold">Size</label>
							<input th:field="*{size}" th:errorclass="bg-danger" type="number"
								name="size" class="form-control disabled" id="size"> <small
								th:if="${#fields.hasErrors('size')}" th:errors="*{size}"
								id="priceError" class="form-text bg-danger rounded">You
								must enter a price</small>
						</div>
						<div class="form-group">
							<label for="quantity" class="col-form-label font-weight-bold">Quantity</label>
							<input th:field="*{quantity}" th:errorclass="bg-danger"
								type="number" name="quantity" class="form-control" id="quantity">
							<small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
								id="priceError" class="form-text bg-danger rounded">You
								must enter a price</small>
						</div>

						<div class="mt-5 text-center">
							<button class="btn btn-outline-secondary rounded font-weight-bold" type="submit">Save changes</button>
						</div>

					</form>
				</div>
			</div>
			<br>
		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</html>