
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>


	<div class="container">
		<main class="p-5 align-content-center bg-blur">
			<h1 class="border-bottom font-weight-bold" align="center">Edit
				Shoes</h1>
			<br>
			<h1 class="text-light border-left pl-2"></h1>
			<div class="d-flex justify-content-center"></div>
		</main>
	</div>
	<br>
	<div class="container">

		<div class="row ">
			<div class="col-6" align="center">
				<a type="button" th:href="@{/shoes-model-sizes}"
					class="btn btn-outline-secondary rounded font-weight-bold">Edit
					shoes pairs </a>
			</div>


			<div class="col-6" align="center">
				<a type="button" th:href="@{/shoes-models/new}"
					class="btn btn-outline-secondary rounded font-weight-bold">Add
					shoes model </a>

			</div>
		</div>
		<br> <br> <br> <br> <br>
	</div>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</html>