<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div th:replace="fragments/fragment :: profil"></div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">
				<div class="row">
					<div
						class="col-12 bg-secondary font-weight-bold text-white p-3 rounded-top">
						<div class="float-left">Favourites</div>
						<form th:action="@{/customers/favourites}" th:method="delete">
							<div class="float-right">
								<button class="btn btn-sm btn-outline-light font-weight-bold"
									type="submit">Remove all</button>

							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div th:each="favourite : ${favourites}" th:object="${favourite}"
						class="col-lg-4 col-md-6 mb-4">
						<div class="card h-100">
							<a href="#"><img class="card-img-top" width="250"
								height="300" th:src="*{model.imageUrl}" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a th:text="*{model.name}"
										th:href="@{/shoes-models/{sex}/{id}(sex= *{model.sex}, id=*{model.id})}">Item
										One</a>
								</h4>
								<h5 th:text="|*{model.price} BGN|"></h5>

							</div>
							<div class="card-footer">
								<form th:action="@{/customers/shopping-cart/{id}(id=*{id})}"
									th:method="post">
									<button class="btn btn-lg btn-outline-secondary rounded w-100"
										type="submit">Add to cart</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-lg-9 -->
	</div>
	<!-- /.row -->
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
</html>