<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container" style="margin-top: 73px;">

		<div class="row">
			<div th:replace="fragments/fragment :: filters"></div>
			<div class="col-lg-9">
				<div th:if="!${sex}" id="carouselExampleIndicators"
					class="carousel slide my-4" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0"
							class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active text-center">
							<img th:src="@{/images/{image}(image = ${firstImage})}"
								alt="First slide" class="d-block img-fluid">
						</div>
						<div class="carousel-item text-center">
							<img th:src="@{/images/{image}(image = ${secondImage})}"
								alt="Second slide" class="d-block img-fluid">
						</div>
						<div class="carousel-item text-center">
							<img th:src="@{/images/{image}(image = ${thirdImage})}"
								alt="Third slide" class="d-block img-fluid">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>

				<div class="row">
					<div th:each="shoesModel : ${allModels.content}"
						th:object="${shoesModel}" class="col-lg-4 col-md-6 mb-4">
						<div class="card h-100">

							<a th:href="@{/shoes-models/{sex}/{id}(sex= *{sex}, id=*{id})}"><img
								class="card-img-top" width="250" height="300"
								th:src="*{imageUrl}" alt=""></a>
							<div class="card-body">
								<h4 class="card-title">
									<a th:text="*{name}"
										th:href="@{/shoes-models/{sex}/{id}(sex= *{sex}, id=*{id})}">Item
										One</a>
								</h4>
								<h5 th:text="|*{price} BGN|"></h5>

							</div>
						</div>
					</div>
				</div>
				<br> <br> <br>

				<div class="row justify-content-center">
					<nav aria-label="Page navigation">
						<ul class="pagination">

							<li class="page-item"
								th:classappend="${!allModels.hasPrevious()} ? disabled"><a
								th:if="${sex}" class="page-link"
								th:href="@{'/shoes-models/' + ${sex} + '?page=' + ${allModels.getNumber()-1}}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a> <a th:unless="${sex}" class="page-link"
								th:href="@{/shoes-models(page=${allModels.getNumber()-1})}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a></li>

							<li
								th:each="page: ${#numbers.sequence(0, allModels.totalPages - 1)}"
								th:classappend="${allModels.getNumber() == page} ? active"
								class="page-item"><a th:if="${sex}" class="page-link"
								th:href="@{'/shoes-models/' + ${sex} + '?page=' + ${page}}"
								th:text="${page+1}"></a> <a th:unless="${sex}" class="page-link"
								th:href="@{/shoes-models(page=${page})}" th:text="${page+1}"></a></li>

							<li class="page-item"
								th:classappend="${!allModels.hasNext()} ? disabled"><a
								th:if="${sex}" class="page-link"
								th:href="@{'/shoes-models/' + ${sex} + '?page=' + ${allModels.getNumber()+1}}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a> <a th:unless="${sex}" class="page-link"
								th:href="@{/shoes-models(page=${allModels.getNumber()+1})}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a></li>
						</ul>

					</nav>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.col-lg-9 -->

	</div>
	<!-- /.row -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="/js/model-filters.js"></script>
</html>
