<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragment :: head">
</head>
<body>

	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Page Content -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 ">
				<div class="card mt-4" th:object="${shoesModel}">
					<img class="card-img-top img-fluid" th:src="*{imageUrl}" alt="">
				</div>
				<!-- /.card -->
				<div class="card card-outline-secondary my-4"></div>
				<!-- /.card -->
			</div>
			<!-- /.col-lg-9 -->
			<div class="col-lg-4">
				<div class="card mt-4" th:object="${shoesModel}">
					<div class="card-body">
						<h3 th:text="*{name}" class="card-title">Product Name</h3>
						<h5 th:text="|*{price} BGN|"></h5>
						<br>
						<h6 th:text="Color"></h6>
						<label class="btn rounded-circle  p-3 m-2 "
							th:style="|background: *{colorHex}|"></label> <br> <br>
						<section class="mb-4">
							<h6 class="font-weight-bold mb-3">Size</h6>

							<div th:each="s : ${allSizes}">
								<div class="form-check">
									<input th:value="${s.id}" type="radio" name="size"
										class="form-check-input filled-in" id="new"> <label
										th:text="${s.size}"
										class="form-check-label small text-uppercase card-link-secondary"
										for="new"></label>
								</div>
							</div>
						</section>

						<br> <br> <br>
						<div class="text-center align-middle">
							<div class="btn-group text-center align-middle">
								<a type="button" id="buy-button"
									class="btn btn-sm btn-outline-secondary rounded"
									style="margin-right: 10px;">Add to cart</a> <a type="button"
									id="fav-button" style="margin-left: 10px;"
									class="btn btn-sm btn-outline-secondary rounded">Add to
									favourites</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<!-- Footer -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script th:inline="javascript">
			document.getElementById("buy-button").addEventListener("click", (e) => {
				e.preventDefault();
// 				const id =  /*[[${shoesModel.id}]]*/ 'admin';

				const id = document.querySelectorAll("input[name=size]:checked")[0].value;
				
				fetch("/api/customers/shopping-cart/items", {
					method: "POST",
					headers: {
						"content-type": "application/json"
					},
					body: JSON.stringify({id: id})
				})
				.then(res => {
					if(res.ok) {
						window.location.href = "/customers/shopping-cart"
					}
				});
			});
			
			
			document.getElementById("fav-button").addEventListener("click", (e) => {
				e.preventDefault();


				const id = document.querySelectorAll("input[name=size]:checked")[0].value;
				
				fetch("/api/customers/favourites/items", {
					method: "POST",
					headers: {
						"content-type": "application/json"
					},
					body: JSON.stringify({id: id})
				})
				.then(res => {
					if(res.ok) {
						window.location.href = "/customers/favourites"
					}
				});
			});
		
	</script>
</html>
