<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col">
					<div class="e-tabs mb-3 px-3">
						<div class="nav-item active ">
							<div class="font-weight-bold"
								th:text="|All models ${countUsers}|"></div>
						</div>
					</div>

					<div class="row flex-lg-nowrap">
						<div class="col mb-3">
							<div class="panel card">
								<div class="card-body">
									<div class="card-title"></div>
									<div class="table">
										<div class="table-responsive table-lg mt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="font-weight-bold">Model id</th>
														<th class="font-weight-bold">Model name</th>
														<th class="font-weight-bold">Type</th>
														<th class="font-weight-bold">Sex</th>
														<th class="font-weight-bold">Color</th>
														<th class="font-weight-bold">Price BGN</th>
														<th class="font-weight-bold">Created on</th>
														<th class="font-weight-bold">Created by</th>
														<th class="font-weight-bold">Image</th>
														<th class="font-weight-bold">Sizes</th>
														<th class="font-weight-bold">Count</th>
														<th class="font-weight-bold">Actions</th>
													</tr>
												</thead>
												<tbody id="shoesModelSizeList">
													<tr>
														<td class="align-middle">
															<div
																class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
																<input type="checkbox" class="custom-control-input">
																<label class="custom-control-label"></label>
															</div>
														</td>
														<td class="text-nowrap align-middle">Model name</td>
														<td class="text-nowrap align-middle">Type</td>
														<td class="text-nowrap align-middle">Sex</td>
														<td class="text-nowrap align-middle">Color</td>
														<td class="text-nowrap align-middle">Price</td>
														<td class="text-nowrap align-middle">Created on</td>
														<td class="text-nowrap align-middle">Created by</td>
														<td class="text-nowrap align-middle">Image</td>
														<td class="text-nowrap align-middle">Sizes</td>
														<td class="text-nowrap align-middle">Count</td>

														<td class="text-center align-middle">
															<div class="btn-group">
																<a type="button"
																	th:href="@{/shoes-model-sizes/{id}(id=*{id})}"
																	class="btn btn-sm btn-outline-secondary rounded">Edit</a>
																<a type="button"
																	th:href="@{/users/delete/{id}(id=*{id})}"
																	class="btn btn-sm btn-outline-secondary rounded">Delete</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3 mb-3">
							<div class="card">
								<div class="card-body">
									<!-- 									<a class="btn btn-primary w-100" th:href="@{/users/register}"
										role="button">Add new user</a> -->
									<hr class="my-3">
									<div>
										<div class="form-group">
											<!-- <label>Search by Model name</label> -->
											<div>
												<input id="searchInput" class="form-control w-100"
													type="text" placeholder="Enter model name" value="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/js/search-bar.js"></script>

</html>
