<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!--Section: Block Content-->
	<section>
		<div class="container">
			<!--Grid row-->
			<div class="row">
				<!--Grid column-->
				<div class="col-lg-9">
					<!-- Card -->
					<div class="mb-3">
						<div class="pt-4 wish-list">

							<h5 th:text="|Shopping cart: ${countProducts} items|"
								class="mb-4"></h5>

							<div class="row mb-4" th:each="item : ${shoppingCart}"
								th:object="${item}">
								<div class="col-md-5 col-lg-3 col-xl-3">
									<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
										<a
											th:href="@{/shoes-models/{sex}/{id}(sex= *{model.sex}, id=*{model.id})}">
											<img class="img-fluid w-100" th:src="*{model.imageUrl}"
											alt="Sample">
										</a>
									</div>
								</div>
								<div class="col-md-7 col-lg-9 col-xl-9">
									<form th:action="@{/customers/shopping-cart/{id}(id=*{id})}"
										th:method="delete">
										<!-- <input type="hidden" name="_method" value="delete"> -->
										<div>
											<div class="d-flex justify-content-between">
												<div class="font-weight-bold">
													<a
														th:href="@{/shoes-models/{sex}/{id}(sex= *{model.sex}, id=*{model.id})}">
														<h5 th:text="*{model.name}"></h5>
													</a>
													<p class="mb-3 ">
														<span th:if="${countProducts == '0'}" th:text="|0 BGN|"></span>
														<span th:unless="${countProducts == '0'}"
															th:text="|*{model.price} BGN|"></span>
													</p>



													<a class="mb-3 " th:text="Color"></a> <label
														class="btn rounded-circle  p-3 m-2 "
														th:style="|background: *{model.colorHex}|"></label>
													<p class="mb-3 " th:text="|Size: *{size}|"></p>
												</div>
												<div>
													<div class="btn-group">
														<button class="btn btn-sm btn-outline-secondary rounded"
															type="submit">Remove</button>
													</div>

												</div>
											</div>
											<br>
											<div
												class="d-flex justify-content-between align-items-center">
												<div
													class="def-number-input number-input safari_only mb-0 w-100">
													<!-- <button
														onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
														class="minus decrease"></button> -->
													<input class="quantity" min="0" name="quantity" value="1"
														type="number">
													<!-- <button
														onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
														class="plus increase"></button> -->
												</div>

											</div>
										</div>
									</form>
								</div>
							</div>
							<hr class="mb-4">

						</div>
					</div>
					<!-- Card -->

					<!-- Card -->
					<div class="mb-3"></div>
					<!-- Card -->

					<!-- Card -->
					<div class="mb-3"></div>
					<!-- Card -->

				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-3">

					<!-- Card -->
					<div class="mb-3">
						<div class="pt-4">

							<h5 class="mb-3">The total amount of</h5>

							<ul class="list-group list-group-flush">
								<li
									class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
									Temporary amount <span th:text="|${totalAmount} BGN|"></span>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center px-0">
									Shipping <span>Gratis</span>
								</li>
								<li
									class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
									<div class="font-weight-bold">The total amount of</div> <span><strong
										class="font-weight-bold" th:text="|${totalAmount} BGN|"></strong></span>
								</li>
							</ul>
							<button class="btn btn-lg btn-outline-secondary rounded w-100"
								type="submit">Checkout</button>

						</div>
					</div>
					<!-- Card -->

					<!-- Card -->
					<div class="mb-3"></div>
					<!-- Card -->

				</div>
				<!--Grid column-->

			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!--Section: Block Content-->
	<br>
	<br>
	<br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
</html>