<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col">
					<div class="e-tabs mb-3 px-3">
						<div class="nav-item active ">
							<div class="font-weight-bold"
								th:text="|All users: ${countUsers}|"></div>
						</div>
					</div>

					<div class="row flex-lg-nowrap">
						<div class="col mb-3">
							<div class="panel card">
								<div class="card-body">
									<div class="card-title"></div>
									<div class="table">
										<div class="table-responsive table-lg mt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="font-weight-bold">User id</th>
														<th class="font-weight-bold">Username</th>
														<th class="font-weight-bold">Full name</th>
														<th class="font-weight-bold">Email</th>
														<th class="font-weight-bold">Role</th>
														<th class="font-weight-bold">Actions</th>
													</tr>
												</thead>
												<tbody id="userList">
													<tr th:each="user : ${allUsers}" th:object="${user}">
														<td class="text-nowrap align-middle " th:text="*{id}">Username</td>
														<td class="text-nowrap align-middle "
															th:text="*{username}">Username</td>
														<td class="text-nowrap align-middle"
															th:text="|*{firstName} *{lastName}|">Full name</td>
														<td class="text-nowrap align-middle" th:text="*{email}">Email</td>
														<td class="text-nowrap align-middle" id="roleList">Role

															<div>
																<input type="checkbox" id="user" name="admin"
																	value="user"> <label for="user">User</label>
															</div>
															<div>
																<input type="checkbox" id="admin" name="admin"
																	value="admin"> <label for="admin">Admin</label>
															</div>
														</td>
														<td class="text-center align-middle">
															<div class="btn-group">
																<a type="button"
																	th:href="@{/users/update/{id}(id=*{id})}"
																	class="btn btn-sm btn-outline-secondary rounded">Edit</a>
																<a type="button"
																	th:href="@{/users/delete/{id}(id=*{id})}"
																	class="btn btn-sm btn-outline-secondary rounded">Delete</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3 mb-3">
							<div class="card">
								<div class="card-body">
									<!-- 									<a class="btn btn-primary w-100" th:href="@{/users/register}"
										role="button">Add new user</a> -->
									<hr class="my-3">
									<div>
										<div class="form-group">
											<label>Search by Username</label>
											<div>
												<input id="searchInputUsers" class="form-control w-100"
													type="text" placeholder="Username" value="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>

	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/js/search-bar-users.js"></script>
</html>
