<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
<head th:replace="fragments/fragment :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/fragment :: navigation"></nav>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>


	<div class="container">
		<main class="p-5 align-content-center bg-blur">
			<h1 class="font-weight-bold pl-2 display-1" align="center">WELCOME</h1>
			<h1 class="text-light border-left pl-2"></h1>
			<div class="d-flex justify-content-center"></div>
		</main>
	</div>
	
	<div class="container">

		<div class="row ">
			<div class="col-6" align="center">
				<a th:href="@{/shoes-models/FEMALE}"> <img
					class="card-img-top img-fluid" th:src="@{/images/pumps1.jpg}"
					alt="">
				</a>
				<h1 class="carousel-caption font-weight-bold" style="color:red;">For her</h1>
			</div>
			<div class="col-6" align="center">
				<a th:href="@{/shoes-models/MALE}"> <img
					class="card-img-top img-fluid" th:src="@{/images/shoes2.jpg}"
					alt="">
				</a>
				<h1 class="carousel-caption font-weight-bold" style="color:red;">For him</h1>
			</div>
		</div>
	</div>
<br><br><br><br><br>
	<footer th:replace="fragments/fragment :: footer"> </footer>
</body>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</html>